@using LanguageResource;
@using Ishop.Utilities;
@using Ishop.Context; 
@using Ishop.Models.Info;
@model IEnumerable<Ishop.Models.ProductMgr.ShopStaff> 
@{
    ViewBag.Title = Lang.ShopStaffList_Title;
    ViewBag.SubTitle = Lang.ShopStaffList_SubTitle;
    Layout = "~/Areas/Mgr/Views/Shared/_Layout.cshtml";
} 
@section Scripts {
    @Scripts.Render("~/Scripts/webuploader")
}
@Styles.Render("~/Content/webuploader")
<style>
    .text-omit1 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 280px;
    }

    .text-omit2 {
        width: 280px;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .text-omit-defined {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
</style>
 
<div class="box-body table-responsive">

    <table class="table table-striped table-hover">
        <tr>
            <th>
                <i class="fa fa-caret-square-o-right" aria-hidden="true" style="color:mediumslateblue">&nbsp;</i><lable>@Html.DisplayNameFor(modelItem => modelItem.Qrcode)</lable>
            </th>
            <th style="width:160px;" class="hidden-sm">
                <i class="fa fa-money" aria-hidden="true" style="color:mediumslateblue">&nbsp;</i><lable class="text1" title="ShopID" data-toggle="tooltip" data-placement="top">@Html.DisplayNameFor(modelItem => modelItem.ShopID)</lable>
            </th>
            <th  class="hidden-sm text-omit-defined">
                <i class="fa fa-user" aria-hidden="true" style="color:mediumslateblue">&nbsp;</i><lable class="text2" title="UserId" data-toggle="tooltip" data-placement="top">@Html.DisplayNameFor(modelItem => modelItem.UserId)</lable>
            </th> 
            <th class="hidden-sm">
                <i class="fa  fa-key" aria-hidden="true" style="color:mediumslateblue;word-break:keep-all"> </i><lable style="word-break:keep-all">@Html.DisplayNameFor(modelItem => modelItem.UserName) </lable>
            </th> 
            <th title="@Html.DisplayNameFor(modelItem => modelItem.IsConfirmed)" class="hidden-sm">
                <i class="fa fa-compass" aria-hidden="true" style="color:mediumslateblue">&nbsp;</i><lable>@Html.DisplayNameFor(modelItem => modelItem.IsConfirmed) </lable>
            </th>
            <th class="hidden-sm">
                <i class="fa fa-user" aria-hidden="true" style="color:mediumslateblue">&nbsp;</i><lable>@Html.DisplayNameFor(modelItem => modelItem.StaffName)</lable>
            </th>
            <th class="hidden-sm">
                <i class="fa fa-calendar-check-o" aria-hidden="true" style="color:mediumslateblue">&nbsp;</i><lable>@Html.DisplayNameFor(modelItem => modelItem.OperatedDate)</lable> 
            </th>
            <th>
                <i class="fa fa-share-alt-square" aria-hidden="true" style="color:mediumslateblue">&nbsp;</i><lable class="block" style="word-break:keep-all">@Lang.ShopStaffList_Btn_AddChannel</lable>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div style="margin:0,0,5px,0; max-width:200px;">
                        <div class="info-box-text h5 no-margin no-padding">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="text-omit-defined" style="padding-left:5px 0 0 5px;" title="@Html.DisplayFor(modelItem => item.StaffName)" data-toggle="tooltip">
                                        @Html.DisplayFor(modelItem => item.StaffName)
                                    </span>
                                    <span class="text-omit-defined" style="padding-left:5px 0 0 5px;font-size:10px;" title="@Html.DisplayFor(modelItem => item.ShopStaffID)" data-toggle="tooltip">
                                        <small>@Html.DisplayFor(modelItem => item.ShopStaffID)</small>
                                    </span>
                                </li> 
                                @if (!string.IsNullOrEmpty(Html.DisplayFor(model => item.Qrcode).ToString().Trim()))
                                {
                                    <li>
                                        <img id="uploadPicResult" class="img-responsive img-thumbnail margin-r-5" src="@PictureSuffix.ReturnSizePicUrl(Html.DisplayFor(model => item.Qrcode).ToString(), PictureSize.s160X160)" align="left" width="90" />
                                    </li>
                                } 
                            </ul>
                        </div>
                    </div><!-- /.box -->
                </td>
                <td class="hidden-sm" style="max-width:310px;">
                    <span title="@Html.DisplayFor(modelItem => item.ShopID)" class="text-omit-defined" data-toggle="tooltip">@Html.DisplayFor(modelItem => item.ShopID)</span>
                </td>
                <td class="hidden-sm" style="max-width:310px;">
                    <span title="@Html.DisplayFor(modelItem => item.UserId)" class="text-omit-defined" data-toggle="tooltip">@Html.DisplayFor(modelItem => item.UserId)</span>
                </td>
                <td class="hidden-sm">
                    <span title="@Html.DisplayFor(modelItem => item.UserName)" class="text-omit-defined" data-toggle="tooltip">@Html.DisplayFor(modelItem => item.UserName)</span>
                </td>
                <td class="hidden-sm">
                    @Html.DisplayFor(modelItem => item.IsConfirmed)
                </td> 
                <td class="hidden-sm">
                    @Html.DisplayFor(modelItem => item.OperatedUserName)
                </td>
                <td class="hidden-sm small">
                    @Html.DisplayFor(modelItem => item.OperatedDate))
                </td>
                <td>
                    <div class="block inline">
                        <button type="button" id="button1" onclick="AddUserChannel('@item.UserId');" class="btn btn-danger fa fa-pencil margin-r-5">@Lang.Views_GeneralUI_Add</button>
                        <button type="button" id="button2" onclick="UserChannelList('@item.UserId');" class="btn btn-danger fa fa-pencil"> @Lang.Views_GeneralUI_List</button>
                        @Html.ActionLink(Lang.Views_GeneralUI_Edit, "ShopStaffAdd", new { ShopStaffID = item.ShopStaffID }, htmlAttributes: new { @class = "btn btn-danger fa fa-pencil" })
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<!-- Modal for 添加渠道-->
@using (Ajax.BeginForm("AddUserChannel", null, new AjaxOptions { HttpMethod = "post", OnSuccess = "AddUserChannelResult", OnFailure = "err", LoadingElementId = "Loading" }, new { @class = "form-horizontal" }))
{
    <div id="Loading" class="hidden"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span></div>

    @Html.AntiForgeryToken()

    <div class="modal fade" id="myModal_AddChannel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title h4" title="@Lang.ShopStaffList_Btn_AddChannel" data-toggle="tooltip" id="myModal_header_lbl_title">@Lang.ShopStaffList_Btn_AddChannel</span>
                    <label ID="myModal_UserId" class="form-inline h6" style="color:#d8d5d5"></label>
                </div>
                <div class="modal-body">
                    <div class="row"> 
                        <input type="text" id="UserId" class="hide" placeholder="@Lang.ShopStaff_UserId" />
                        <div class="box-body with-border">
                            <div id="form1" class="form-horizontal">
                                <div class="form-group">
                                    <label for="ChannelID" class="col-sm-3 control-label">@Lang.UserChannel_ChannelName</label>
                                    <div class="col-sm-7">
                                        @Html.DropDownList("ChannelID", null, Lang.Views_GeneralUI_Selected, new { @class = "form-control", data_toggle = "tooltip", placeHolder = "渠道", title = "选择渠道" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="LoginID" class="col-sm-3 control-label">@Lang.Views_GeneralUI_LoginID</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="LoginID" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ChannelQRcode" class="col-sm-3 control-label">@Lang.ShopStaffList_ChannelID</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="ChannelQRcode" class="form-control hidden"/>
                                        <div id="fileList"> </div>
                                        <button id="filePicker" class="btn btn-default bg-black-gradient">@Lang.GeneralUI_Select</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!--Row-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="Savechanges" class="btn btn-primary">@Lang.Views_GeneralUI_Add</button>
                </div>
            </div>
        </div>
    </div>  
}

<!-- Modal for 返回渠道列表-->
<div class="modal fade" id="myModal_ReturnChannelList" tabindex="-100" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title h4" title="@Lang.ShopStaffList_StaffChannelList" data-toggle="tooltip" id="myModal_header_lbl_title">@Lang.ShopStaffList_StaffChannelList</span>
                <label ID="lbl_UserChannelList_UserId" class="form-inline h6" style="color:#d8d5d5"></label> 
            </div>
            <div class="modal-body">
                <div class="row">

                    @using (Ajax.BeginForm("UserChannelList", null, new AjaxOptions { HttpMethod = "post", OnSuccess = "AddUserChannelResult", OnFailure = "err", LoadingElementId = "Loading" }, new { @class = "form-horizontal" }))
                    {
                        <div id="Loading" class="hidden"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span></div>

                                @Html.AntiForgeryToken() 
                                <div class="box-body with-border">
                                    <div id="form_UserChannelList" class="form-horizontal">
                                        <!--return list-->
                                    </div>
                                </div>
                    } 
                </div><!--Row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
            </div>
        </div>
    </div>
</div> 
<script>

    function AddUserChannel(UserID) {
        $('#myModal_UserId').text(UserID);
        $('#UserId').val(UserID);
        $('#myModal_AddChannel').modal({ backdrop: 'static', keyboard: true }); 
    }
    function UserChannelList(UserID) {
        $('#lbl_UserChannelList_UserId').text(UserID);
        $('#myModal_ReturnChannelList').modal({ backdrop: 'static', keyboard: true });
         
        var myparamsObject1 = { UserId: UserID };

        $.ajax({
            url: "/Mgr/ShopAdmin/UserChannelList",
            data: myparamsObject1,
            type: "get", 
            dataType: "text",  
            error: function (result) { 
                console.log(result);
                alert("@Lang.Views_GeneralUI_ServerError \n\r function:UserChannelList code:500");
            },
            success: function (result) { 
                $('#form_UserChannelList').html(result);
            } 
        });  
    } 
    function AddUserChannelResult(data) { 
        $('#form_UserChannelList').html(data);
        $('#myModal_ReturnChannelList').show();
    }
    
    $("#Savechanges").click(function () {
        
        var ChannelID = $("#ChannelID").val();
        var ChannelName = $("#ChannelID").find("option:selected").text();
        console.log("ChannelName: " + ChannelName);
        var UserId = $("#UserId").val();
        var LoginID = $('#LoginID').val();
        LoginID = LoginID.replace(/^\s+|\s+$/g, '');//Remove space

        var ChannelQRcode = $("#ChannelQRcode").val();
        ChannelQRcode = ChannelQRcode.replace(/^\s+|\s+$/g, '');//去掉空格

        if (ChannelID.length < 1 || ChannelQRcode < 1) {
            alert("@Lang.ShopStaffList_JS_Savechanges_click");
            return;
        }

        var myparamsObject = { UserId: UserId, "ChannelID": ChannelID, "ChannelName": ChannelName, "LoginID": LoginID, "ChannelQRcode": ChannelQRcode };

        $.ajax({
            url: "/Mgr/ShopAdmin/AddUserChannel",
            data: myparamsObject,
            type: "post",
            dataType: "text", 
            error: function (result) {
                alert("@Lang.Views_GeneralUI_ServerError\n\r code:500");
            },
            success: function (result) {
                $('#myModal_AddChannel').modal("hide");
                console.log(result);
                $('#form_UserChannelList').html(result);
                $('#myModal_ReturnChannelList').modal("show")
                $("#Savechanges").attr("disabled", "disabled");
            } 
        });
    }); 
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip(); //初始化提示样式
        //--微信二维码 
        //参数说明 1.图片队列fileList , 2.图片选择器 filePicker, 3.文件名前缀Shoplogo_ ,4.上存upload文件夹的子文件名称 Shoplogo ,
        //5.返回图片url存储到 txtboxId   6.目标表主键ID:TargetTalbeKeyID, 7.店铺ID: ShopID ,8.排序 RankOrder默认=0
        var ShopID = "@WebCookie.ShopID";
        $(WebUploader1("fileList", "filePicker", "ChannelQRcode_", "Shoplogo", "ChannelQRcode", "", ShopID, 0));
    }); 
</script>
 
 



