@using Ishop.Context;
@using LanguageResource
@using Microsoft.AspNet.Mvc.Rendering
@model Ishop.Models.SendMailInfo
@{
    ViewBag.Title = Lang.SendMailInfo_Title;
}
<link href="~/webuploader/CSS/webuploader.css" rel="stylesheet" />
<script src="~/webuploader/Script/webuploader.js"></script>

<div class="container" style="max-width:620px;">

    @using (Ajax.BeginForm("UpEmailSenderInfo", "ShopAdmin", new AjaxOptions { HttpMethod = "post", OnSuccess = "GetResult", OnFailure = "err", LoadingElementId = "imgLoad" }, new { id = "form1", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.SendMailInfoId)
        @Html.HiddenFor(model => model.ShopId)

        <div id="box-widget" class="box box-solid box-default">
            <div class="box-header with-border">
                <h3 class="box-title">@Lang.SendMailInfo_Title</h3>
                <div class="box-tools pull-right">
                    <span class="label label-default"><i class="fa fa-puzzle-piece" aria-hidden="true"></i>* @Lang.SendMailInfo_SenderOfCompany</span><button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="control-label" for="Subject">@Lang.SendMailInfo_SenderOfCompany</label>
                        @Html.DropDownList("SenderOfCompany", Html.SendMailInfoCompanyDropDownList(Model.SenderOfCompany), new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.SenderOfCompany, "", new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="control-label" for="Subject">@Lang.SendMailInfo_EnableSSL</label>
                        @Html.CheckBoxFor(model => model.EnableSSL)
                        @Html.ValidationMessageFor(model => model.EnableSSL, "", new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="control-label" for="Subject">@Lang.SendMailInfo_EnableTSL</label>
                        @Html.CheckBoxFor(model => model.EnableTSL)
                        @Html.ValidationMessageFor(model => model.EnableSSL, "", new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="control-label" for="Subject">@Lang.SendMailInfo_EnablePasswordAuthentication</label>
                        @Html.CheckBoxFor(model => model.EnablePasswordAuthentication)
                        @Html.ValidationMessageFor(model => model.EnablePasswordAuthentication, "", new { @class = "text-danger col-md-12" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="control-label" for="Subject">@Lang.SendMailInfo_SenderServerHost</label>
                        @Html.TextBoxFor(model => model.SenderServerHost, new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.SenderServerHost, "", new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="control-label" for="Subject">@Lang.SendMailInfo_SenderServerHostPort</label>
                        @Html.TextBoxFor(model => model.SenderServerHostPort, new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(model => model.SenderServerHostPort, "", new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="control-label" for="Subject">@Lang.SendMailInfo_FromMailAddress</label>
                        @Html.TextBoxFor(model => model.FromMailAddress, new { @class = "form-control form-control-sm" })

                        @Html.ValidationMessageFor(model => model.FromMailAddress, "", new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="control-label" for="Subject">@Lang.SendMailInfo_SenderUserName</label>
                        @Html.TextBoxFor(model => model.SenderUserName, new { @class = "form-control form-control-sm" })
                        <span class="col-md-10 no-padding no-margin small">@Lang.SendMailInfo_SenderUserName_TIPs</span>
                        @Html.ValidationMessageFor(model => model.SenderUserName, "", new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="control-label" for="Subject">@Lang.SendMailInfo_SenderUserPassword</label>
                        @Html.TextBoxFor(model => model.SenderUserPassword, new { @class = "form-control form-control-sm" })
                        <span class="col-md-10 no-padding no-margin small">@Lang.SendMailInfo_SenderUserPassword_TIPs</span>
                        @Html.ValidationMessageFor(model => model.SenderUserPassword, "", new { @class = "text-danger col-md-12" })
                    </div>
                </div>

                <div class="form-group ">
                    <!--没用上 js submit-->
                    <div class="col-md-offset-2 col-md-10">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <input type="submit" id="submit1" class="btn btn-default btn-flat" value="@Lang.Views_GeneralUI_Submit" />
                            </li>
                            <li>
                                <input type="button" id="btnReturnToList" onclick="javascript:golist();" class="btn btn-default btn-flat" value="@Lang.Views_GeneralUI_ReturnToList" />
                            </li>
                        </ul> 
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->

    }
</div>
 

<script>

    function GetResult(result) {

        console.log(result);
        if (result.meta.Success === true)  // 输入数据格式非法
        {
            BootstrapDialog.show({
                type: BootstrapDialog.TYPE_SUCCESS,
                resizable: true,
                size: 'size-normal',
                closeByBackdrop: false,
                closeByKeyboard: false,
                draggable: true,
                closable: false,
                message: "<H3>" + result.meta.Message + "</H3>",
                cssClass: 'bootstrap-dialog fade',
                buttons: [{
                    label: 'OK!',
                    cssClass: 'btn-primary',
                    action: function (dialog) {
                        dialog.close();
                        $("#submit1").attr("disabled", "disabled");  //屏蔽按钮
                    }
                }]
            });

            setTimeout(function () {
                golist();
            }, 3000);

        } else {
            alert("服务器端处理数据失败\n\n" + result.meta.ErrorCode + ":" + result.meta.Message);
        }
    }

    function err(data) {
        alert("Form ERROR");
    }
    function golist() {

        window.location = "/mgr/ShopAdmin/SendMailInfoList";
    }
</script>

