@using LanguageResource
@using Ishop.Utilities
<!--sh0006_zh-HK (Share/ShopViewTemplate1)-->

<dl class="h4">
    <dt class="padding-left15">
        <a target="_blank" href="@string.Format("https://wa.me/{0}?text=Hello,%20I%20would%20like%20to%20know%20more%20information",mvcCommeBase.removePhoneAreaCode(ViewBag.PhoneNumber)))">
            <span class="bold h3">
                <i class="fa fa-whatsapp  text-green" style="font-size:25px;margin-right:15px;" aria-hidden="true" tiltle="WhatsApp Equiry"></i>
                WhatsApp Inquiry
            </span>
        </a>
    </dt>
    <dd class="padding-10">
        <a target="_blank" href="@string.Format("https://wa.me/{0}?text=Hello,%20I%20would%20like%20to%20know%20more%20information",mvcCommeBase.removePhoneAreaCode(ViewBag.PhoneNumber)))">
            <span class="h3 bold">
                <i class="fa fa-phone-square  text-green"  style="font-size:25px;margin-right:15px;" aria-hidden="true" tiltle="PhoneNumber"></i>
                @ViewBag.PhoneNumber
            </span>
        </a>
    </dd>
    <dt class="padding-10">
        <span class="bold ">
            <i class="fa fa-money text-warning" style="font-size:20px;margin-right:15px;" aria-hidden="true"
               data-toggle="tooltip" tiltle=" @Lang.ACCOUNT_BOC_OF_HK"></i> @Lang.ACCOUNT_BOC_OF_HK
        </span>
    </dt>
    <dd class="padding-10">
        <span style="font-size:16px;" class="bold">
            <i class="fa fa-credit-card-alt text-black" style="font-size:20px;margin-right:15px;" aria-hidden="true"></i>
            012 1232 423423-0
        </span>
    </dd>
</dl> 