@using Ishop.Utilities;
@using PagedList.Mvc;
@using LanguageResource;
@using Ishop.Models.PubDataModal;
@model PagedList.IPagedList<DefiniteTemplateNote>
@{
    ViewBag.Title = Lang.TemplateNotePositionView_Title;
    ViewBag.SubTitle = Lang.TemplateNotePositionView_SubTitle;
}
@Styles.Render("~/AdminLTE/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/plugins/timepicker/css")
@Scripts.Render("~/AdminLTE/plugins/timepicker/js")
@Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
<style>
    .text-omit1 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 280px;
    }

    .text-omit2 {
        width: 280px;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .text-omit-defined {
        overflow: hidden;
        text-overflow: clip;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
</style>
@using (Html.BeginForm("DefiniteTemplateNoteList", "DispatchNote", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div id="box-widget" class="box-header form-inline block">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = Lang.Views_GeneralUI_InputKeyWord, style = "max-width:120px;" })
        @Html.TextBox("StartDate", ViewBag.CurrentStartDate as string, new { @class = "form-control h6", style = "max-width:150px;" })
        <label class="label label-info" for="EndDate">TO</label>
        @Html.TextBox("EndDate", ViewBag.CurrentEndDate as string, new { @class = "form-control h6", style = "max-width:150px;" })
        <input type="submit" class="btn btn-info" value="@Lang.Views_GeneralUI_Search" />

        @Html.ActionLink(Lang.Views_GeneralUI_Create, "DefiniteTemplateNoteCreate", null, new { @class = "btn btn-info pull-right" })
    </div>
}
<div class="box-body table-responsive">

    <table class="table table-striped table-hover">
        <tr>
            <th>
                <i class="fa fa-caret-square-o-right" aria-hidden="true" style="color:mediumslateblue"></i><lable>@Lang.DefiniteTemplateNote_DefiniteTemplateNoteName</lable>
            </th>
            <th class="hidden-xs">
                <i class="fa fa-caret-square-o-right" aria-hidden="true" style="color:mediumslateblue"></i><lable>@Lang.DefiniteTemplateNote_Width</lable>
            </th>
            <th class="hidden-xs">
                <i class="fa fa-caret-square-o-right" aria-hidden="true" style="color:mediumslateblue"></i><lable>@Lang.DefiniteTemplateNote_Height</lable>
            </th>  
            <th class="hidden-xs">
                <i class="fa fa-calendar-check-o" aria-hidden="true" style="color:mediumslateblue"></i>
                @Html.ActionLink(" ", "DefiniteTemplateNoteList", "DispatchNote", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }, htmlAttributes: new { @class = "fa fa-sort pull-right", title = Lang.Views_GeneralUI_OrderByDatetime })
                <lable>
                    @Html.DisplayNameFor(modelItem => modelItem.First().OperatedDate)
                </lable> 
            </th>
            <th>
                <i class="fa fa-share-alt-square" aria-hidden="true" style="color:mediumslateblue">&nbsp;</i><lable class="block" style="word-break:keep-all">@Lang.Views_GeneralUI_Details</lable>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="no-padding">
                    <div style="margin:0,0,5px,0; max-width:350px;">
                        <div class="info-box-text h5">
                            @if (!string.IsNullOrEmpty(item.DefiniteTemplatePicture))
                            {
                            <a href="@item.DefiniteTemplatePicture" target="_blank"><img id="uploadPicResult" class="img-responsive img-thumbnail margin-r-5" src="@PictureSuffix.ReturnSizePicUrl(item.DefiniteTemplatePicture, PictureSize.s160X160)" align="left" max-width="160" /></a>
                            }
                            <span class="text-omit-defined h5" style="padding-left:5px 0 0 5px;" title="@item.DefiniteTemplateNoteName" data-toggle="tooltip">
                                @Html.DisplayFor(modelItem => item.DefiniteTemplateNoteName)
                            </span>
                            
                            <strong class="text-omit-defined">
                                <A href='@Url.Content("~/Mgr/DispatchNote/DefiniteTemplateNoteCreate?DefiniteTemplateNoteId=" + item.DefiniteTemplateNoteId )' class="bold" target="_blank">@item.DefiniteTemplateNoteId</A>
                            </strong>
                        </div>
                    </div>
                </td> 
                <td class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.Width)
                </td>
                <td class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                  
                
                <td class="hidden-xs">
                    <ul class="no-padding no-margin  list-unstyled">
                        <li class="no-margin  small" title="@Lang.Product_OperatedUserName">
                            @Html.DisplayFor(modelItem => item.OperatedUserName)
                        </li>
                        <li class="no-margin">
                            @string.Format("{0:yyyy-MM-dd HH:mm}", Html.DisplayFor(modelItem => item.OperatedDate).ToString())
                        </li>
                    </ul> 
                </td>
                <td>
                    <ul class="no-padding no-margin list-unstyled">
                        <li class="no-margin">
                            @Html.ActionLink(Lang.Views_GeneralUI_Edit, "DefiniteTemplateNoteCreate", "DispatchNote", new { DefiniteTemplateNoteId = item.DefiniteTemplateNoteId }, new { @class = "fa fa-pencil", target = "_blank", style = "color:mediumslateblue;word-wrap:normal;word-break:keep-all" })
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </table>
</div>

@if (Model.PageCount > 1)
{
    <label>@string.Format(Lang.GeneralUI_PagerInfo, Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber, Model.PageCount, Model.Count)</label>
    @Html.PagedListPager(Model, page => Url.Action("index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
}

<script>
        $(document).ready(function () {
            datepickerRender("#StartDate");
            datepickerRender("#EndDate");
            $('[data-toggle="tooltip"]').tooltip(); 
        });


</script>

<script>

                    function datepickerRender(ID) {
                        $(ID).daterangepicker({

                            "singleDatePicker": true,
                            "showDropdowns": true,
                            "timePicker": true,
                            "locale": {
                                "format": "YYYY-MM-DD",
                                "separator": " - ",
                                "applyLabel": "OK",
                                "cancelLabel": "Cancel",
                                "fromLabel": "From",
                                "toLabel": "To",
                                "customRangeLabel": "Custom",
                                "weekLabel": "W",
                                "daysOfWeek": [
                                    "Su",
                                    "Mo",
                                    "Tu",
                                    "We",
                                    "Th",
                                    "Fr",
                                    "Sa"
                                ],
                                "monthNames": [
                                    "Jan",
                                    "Feb",
                                    "Mar",
                                    "Apr",
                                    "May",
                                    "Jun",
                                    "Jul",
                                    "Aug",
                                    "Sep",
                                    "Oct",
                                    "Nov",
                                    "Dec"
                                ],
                                "firstDay": 1
                            },
                            "linkedCalendars": false,
                            "showCustomRangeLabel": false,
                            "startDate": moment(),
                            "endDate": moment()
                        }, function (start, end, label) {
                            $(ID).val(start.format('YYYY-MM-DD hh:mm'));
                            // console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
                        });
                    }
</script>
