@using LanguageResource;
@using Ishop.Context;
@model Ishop.Models.ProductMgr.Product
@{
    ViewBag.Title = string.IsNullOrEmpty(ViewBag.CurrentProductID) ? Lang.ProductAddUpd_Title : Lang.ProductAddUpd_Title2;
    ViewBag.SubTitle = Lang.ProductAddUpd_SubTitle;
}
@Styles.Render("~/AdminLTE/plugins/bootstrap-wysiwyg/css")
@Scripts.Render("~/AdminLTE/plugins/bootstrap-wysiwyg/js")
@Scripts.Render("~/js/Category/ShopCategoryItem.js")

<link href="~/webuploader/CSS/webuploader.css" rel="stylesheet" />
<script src="~/webuploader/Script/webuploader.js"></script>

<script src="~/js/Info/TreeInfoCateItem.js"></script>
<script src="~/js/Info/SeoHtmlContextAdd.js"></script>

<style>
    label {
        font-size: 1.1em;
    }

    .cp_img_jia_productmain:hover {
        background: url(/content/Images/cp_img_sc75.png) no-repeat;
    }

    .input_decorate {
        display: inline-block;
        width: 100px;
        height: 100px;
        background: url("/images/AddPicture.jpg");
        background-size: 100px 100px;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .input-group {
        width: 98%;
        max-width: 600px;
    }

    #select_Author input {
        width: 110px;
        border-right-width: 0px
    }

    #select_Author select {
        width: 170px;
        border-left-width: 0px
    }


    .wenzibox {
        width: 80px;
        height: 80px;
        position: relative;
        cursor: pointer;
    }

        .wenzibox .bmbox {
            width: 60px;
            height: 25px;
            position: absolute;
            bottom: 0px;
            right: 5px;
            display: none;
            text-align: right;
            background-color: antiquewhite;
            border-radius: 4px;
        }

        .wenzibox:hover .bmbox {
            position: absolute;
            bottom: 0px;
            right: 5px;
            display: block;
            text-align: right;
        }
</style>
<div class="box box-info" ng-app="App">
    @using (Ajax.BeginForm("ProductAddUpd", "ProductMgr", new { ProductID = ViewBag.CurrentProductID, area = "Mgr" }, new AjaxOptions { HttpMethod = "post", OnSuccess = "HandleProductAddUpdSuccDialog", OnFailure = "errProductAddUpd", LoadingElementId = "Loading" }, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ShopID, new { Value = WebCookie.ShopID })<!--隐藏ShpID-->
        @Html.HiddenFor(model => model.CreatedDate, new { Value = DateTime.Now })<!--隐藏CreatedDate-->
        @Html.HiddenFor(model => model.ViewsIP)
        <div id="Loading" class="hidden"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span></div>
        <div id="box-widget" class="box-header with-border">
            <h3 class="box-title">@Html.ActionLink(Lang.Product_ProductAddUpd_ReturnToProductList, "Index")</h3>
        </div>
        <div class="box-body">
            <!--选择产品类目-->
            <div class="form-group">
                @Html.LabelFor(model => model.ProdCateID, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.ProdCateID, new { @class = "form-control dropdown-toggle hide", autocomplete = "on", style = "max-width:280px;" })
                    @Html.ValidationMessageFor(model => model.ProdCateID, "", new { @class = "text-danger" })
                    <div class="input-group" style="width:auto;">
                        <div class="input-group-btn">
                            <button type="button" id="btn1" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" style="width:auto;" aria-expanded="false">
                                <span id="btn_ProductSpan1"> @Lang.GeneralUI_Select</span><span class="caret"></span>
                            </button>
                            <ul id="ProdCate-dropdown-menu1" class="dropdown-menu" role="menu" style="width:300px;">
                                <li><div id="treeviewProdCate1" class="treemenucls"></div></li>
                            </ul>
                        </div><!--input-group-btn-->
                        <input ID="txtProdCateName" value="@ViewBag.ProdCateName" type="text" maxlength="50" style="width:auto" class="form-control " />
                        <div class="row"> @Html.ValidationMessageFor(model => model.ProdCateID, "", new { @class = "text-danger" })</div>
                    </div><!--input-group-->
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control dropdown-toggle", autocomplete = "off", data_toggle = "dropdown", style = "width:98%;max-width:600px;" })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        <div id="DivDownMenu1" class="dropdown-menu" role="menu" style="width:280px;">
                            <div class="pull-right">
                                <span class="fa fa-times" style="padding-right:10px;"></span>
                            </div>
                            <div id="Tree_dropdown_menu1" class="h6 small treeview" style="padding-top:5px;padding-left:5px;padding-right:-10px;">
                                <div id="Tree_dropdown_menu1" class="h6 small treeview " style="padding-top:5px;padding-left:5px;padding-right:-10px;">
                                    <div id="Loading1"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span><br /></div>
                                </div>
                            </div>
                        </div>

                    </div><!--input-group-btn-->
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control dropdown-toggle", autocomplete = "off", style = "width:98%;max-width:600px;", placeholder = Lang.ProductAddUpd_Name_PlaceHolder })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductImg, htmlAttributes: new { @class = "col-sm-2 control-label" })

                <div class="col-sm-2">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a id="OpenDialog" style="width:110px;display:block;">
                                @if (string.IsNullOrEmpty(Html.DisplayFor(model => model.ProductImg).ToString().Trim()))
                                {
                                    <img id="uploadPicResult" src="@Url.Content("~/images/AddPicture_a.png")" width="110" class="img-thumbnail" />
                                }
                                else
                                {
                                    <img id="uploadPicResult" src="@Html.DisplayFor(model => model.ProductImg)" alt="@Lang.Views_GeneralUI_Browse" width="110" class="img-thumbnail" />
                                }
                            </a>
                        </li>

                        <li>
                            <input type="file" value="@Lang.Views_GeneralUI_Browse" id="file_uploadPic" SrvUrl="/@LangUtilities.LanguageCode/Utilities/UpLoadProcess2?Prefix=P&SubPath=productmain&TargetTalbeKeyID=@ViewBag.TempProductID&ShopID=@WebCookie.ShopID"
                                   mime_type="image/jpeg" accept="image/jpeg" class="input-group-sm hidden" />  @* class="input_decorate" onchange="javascript: uploadPic();"*@
                            </li>
                        </ul>
                        @Html.TextBoxFor(model => model.ProductImg, htmlAttributes: new { @class = "hidden" })
                        @Html.ValidationMessageFor(model => model.ProdCateID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayNameFor(m => m.ProductImg).ToString() + "2", htmlAttributes: new { @class = "col-sm-2 control-label productImg2" })
                    <div class="col-sm-10">
                        <ul class="list-unstyled">
                            <li>
                                <ul id="mainProductImagesList1" class="list-inline">
                                    @{
                                        List<Ishop.Models.UploadItem.UploadItem> uploadItems = ViewBag.UploadItemList;
                                        if (uploadItems != null)
                                        {
                                            foreach (var item in uploadItems)
                                            {
                                                <li id="li_@item.UploadItemId" style="width:80px;">
                                                    <div class="wenzibox">
                                                        <a id="Rawname" href="@item.Url" target="_blank"><img src="@item.Url" class="img-responsive img-bordered" width="75" /> </a>
                                                        <div class="bmbox">
                                                            <a id="@item.UploadItemId" class="btn btn-link btn-sm" href="javascript:del_uploadItem('@item.UploadItemId')">@Lang.Views_GeneralUI_Delete</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </li>
                            <li id="uploadbotton1">
                                <ul class="list-unstyled list-inline">
                                    <li>
                                        <button id="OpenDialogButton" type="button" class="btn btn-default bg-black-active">Upload</button>

                                    </li>

                                    <li>
                                        <input type="file" id="file_ProductMainUpload" multiple="multiple" SrvUrl="/@LangUtilities.LanguageCode/Utilities/UpLoadProcess2?Prefix=P&SubPath=ProductMain&TargetTalbeKeyID=@ViewBag.TempProductID&ShopID=@WebCookie.ShopID"
                                               mime_type="image/jpeg" accept="image/jpeg" value="@Lang.Views_GeneralUI_Browse" class="input-group-sm hidden" />
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StyleNo, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.StyleNo, new { @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.StyleNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <!--描述 begin-->
                <div class="form-group ">
                    @Html.LabelFor(model => model.ProdDesc, htmlAttributes: new { @class = "col-sm-2 control-label", @for = "editor" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.ProdDesc, new { @class = "form-control hidden", placeholder = "-" })
                        <!--文本编辑器开始-->
                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font" aria-hidden="true"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu"></ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default  btn-sm dropdown-toggle" data-toggle="dropdown" title="Text Highlight Color"><i class="fa fa-paint-brush"></i>&nbsp;<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <!--<p>&nbsp;&nbsp;&nbsp;Text Highlight Color:</p>-->
                                    <li class="list-inline" style="background-color:#ebf3f3"><a data-edit="backColor #FFFFFF"><i class="fa fa-stop" style="color:#ebf3f3;font-weight:700;">&nbsp;White</i></a></li>
                                    <li class="list-inline" style="background-color:#ebf3f3"><a data-edit="backColor #00FFFF"><i class="fa fa-stop" style="color:#808080;font-weight:700;">&nbsp;Gray</i></a></li>
                                    <li class="list-inline" style="background-color:#ebf3f3"><a data-edit="backColor #00FFFF"><i class="fa fa-stop" style="color:#00FFFF;font-weight:700;">&nbsp;Blue</i></a></li>
                                    <li class="list-inline" style="background-color:#ebf3f3"><a data-edit="backColor #00FF00"><i class="fa fa-stop" style="color:#00FF00;font-weight:700;">&nbsp;Green</i></a></li>
                                    <li class="list-inline" style="background-color:#ebf3f3"><a data-edit="backColor #FF7F00"><i class="fa fa-stop" style="color:#FF7F00;font-weight:700;">&nbsp;Orange</i></a></li>
                                    <li class="list-inline" style="background-color:#ebf3f3"><a data-edit="backColor #FF0000"><i class="fa fa-stop" style="color:#FF0000;font-weight:700;">&nbsp;Red</i></a></li>
                                    <li class="list-inline" style="background-color:#ebf3f3"><a data-edit="backColor #9a8383"><i class="fa fa-stop" style="color:#9a8383;font-weight:700;">&nbsp;Brown</i></a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height" aria-hidden="true"></i>&nbsp;<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-edit="fontSize 7"><font size="7">7</font></a></li>
                                    <li><a data-edit="fontSize 6"><font size="6">6</font></a></li>
                                    <li><a data-edit="fontSize 5"><font size="5">5</font></a></li>
                                    <li><a data-edit="fontSize 4"><font size="4">4</font></a></li>
                                    <li><a data-edit="fontSize 3"><font size="3">3</font></a></li>
                                    <li><a data-edit="fontSize 2"><font size="2">2</font></a></li>
                                    <li><a data-edit="fontSize 1"><font size="1">1</font></a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm " data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline" aria-hidden="true"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm " data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent" aria-hidden="true"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm " data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <div class="dropdown-menu input-append">
                                    <input class="span2" placeholder="URL" type="text" data-edit="createLink" style="max-width:150px" />
                                    <button class="btn btn-default btn-sm " type="button">Add</button>
                                </div>
                                <a class="btn btn-default btn-sm" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-chain-broken" aria-hidden="true"></i></a>

                            </div>

                            <div class="btn-group">
                                <a class="btn-default btn-sm btn" title="@Lang.Views_GeneralUI_UploadToServer" id="pictureBtn2">
                                    <i class="fa fa-file-image-o" aria-hidden="true">
                                    </i>
                                </a>
                                <input type="file" id="pictureInput" data-Prefix="Ca"
                                       SrvUrl="/@LangUtilities.LanguageCode/Utilities/UpLoadProcess2?Prefix=P&SubPath=Product&TargetTalbeKeyID=@ViewBag.TempProductID&ShopID=@WebCookie.ShopID"
                                       data-role="magic-overlay" data-target="#pictureBtn2" multiple="multiple" accept="image/*" data-edit="insertImage" width="30" />
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm " data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat" aria-hidden="true"></i></a>
                            </div>
                            <div class="btn-group">
                                <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">
                            </div>

                        </div>
                        <!--文本编辑器结束-->

                        <div id="editor" style="overflow:auto;padding:5px;">
                            @(Html.Raw(ViewBag.vInfoDescription))
                        </div>
                        <input type="button" id="SeoHtmlContext1" data-toggle="modal" data-target="#ModalSeoHtml1" class="btn btn-info btn-flat" value="@Lang.Views_GeneralUI_RichText" title="@Lang.Views_GeneralUI_RichText" />

                        @if (!string.IsNullOrEmpty(ViewBag.CurrentInfoID))
                        {
                            @Html.ActionLink(string.Format("UE{0}", Lang.Views_GeneralUI_Edit.Replace(" ", "")), "InfoEditor", new { InfoID = ViewBag.CurrentInfoID }, new { @class = "fa fa-pencil btn btn-prymary", style = "color:mediumslateblue;word-wrap:normal;word-break:keep-all", target = "_blank" })
                        }

                    </div><!--col-md-10结束-->
                </div>
                <!--描述 end-->
               
                <div class="form-group">
                    @Html.LabelFor(model => model.VideoUrl, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.VideoUrl, new { @class = "form-control hidden", data_toggle = "tooltip", placeHolder = Lang.Views_GeneralUI_UrlFormatOrBlank, title = Lang.ModalView_VideoUrl_title, style = "width:98%;max-width:600px;" })
                        @Html.ValidationMessageFor(model => model.VideoUrl, "", new { @class = "text-danger" })
                        <div id="uploader" class="wu-example">
                            <!--用来存放文件产品-->
                            <div id="fileList" class="uploader-list"></div>
                            <div class="btns">
                                <div id="picker" class="btn btn-default bg-black-gradient btn-sm">@Lang.GeneralUI_SelectFile</div><div id="fileLoading" class="hidden"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryIDs, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.CategoryIDs, new { @class = "form-control dropdown-toggle hide", autocomplete = "on" })
                        <div class="input-group" style="max-width:280px;">
                            <div class="input-group-btn">
                                <button type="button" id="btn1" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" style="width:auto;" aria-expanded="false">
                                    <span id="btn_span1">@Lang.GeneralUI_Select</span><span class="caret"></span>
                                </button>
                                <ul id="dropdown-menu1" class="dropdown-menu" role="menu" style="width:300px;">
                                    <li>
                                        <div id="ul-li-div1" style="padding:10px;">
                                            <button type="button" id="btnAddCategoryItemRoot" onclick="setCategoryRoot()" data-toggle="tooltip" data-placement="top" title="@Lang.Views_GeneralUI_MainCategoryDefaults0" class="btn btn-danger btn-xs">
                                                @Html.DisplayNameFor(model => model.CategoryIDs)
                                            </button>
                                            <i class="fa fa-times pull-right" aria-hidden="true"></i>
                                        </div>
                                    </li>
                                    <li><div id="treeviewCategory1" class="treemenucls"></div></li>
                                </ul>

                            </div><!--input-group-btn-->
                            <input ID="txtCategoryIDsName" type="text" placeholder="@Lang.Views_GeneralUI_DefaultRoot" class="form-control" value="@ViewBag.CategoryIDsName" />
                            <div class="row">
                                @Html.ValidationMessageFor(model => model.CategoryIDs, "", new { @class = "text-danger" })
                            </div>
                        </div><!--input-group-->
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SupplierID, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div id="select_SaleStatusID" class="col-sm-7">
                        <div class="input-group">
                            @Html.DropDownList("SupplierID", null, Lang.GeneralUI_Select, new { @class = "form-control", data_toggle = "tooltip", placeHolder = Html.DisplayNameFor(model => model.SupplierID), title = Html.DisplayNameFor(model => model.SupplierID) })
                        </div><!--input-group-btn-->
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TradePrice, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.TradePrice, new { @class = "form-control dropdown-toggle" })
                        @Html.ValidationMessageFor(model => model.TradePrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RetailPrice, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.RetailPrice, new { @class = "form-control dropdown-toggle", autocomplete = "on" })
                        @Html.ValidationMessageFor(model => model.RetailPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CommisionRate, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        <div class="input-group" style="max-width:280px;">
                            @Html.TextBoxFor(model => model.CommisionRate, new { @class = "form-control", autocomplete = "on" })
                            <div class="input-group-btn">
                                <button type="button" id="btn1" class="btn btn-default" aria-haspopup="true" aria-expanded="false">
                                    <span id="btn_span1"><strong>%</strong></span>
                                </button>
                            </div><!--input-group-btn-->
                        </div><!--input-group-->
                        <div class="row padding-left15 "> @Html.ValidationMessageFor(model => model.CommisionRate, "", new { @class = "text-danger" })</div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SaleStatusID, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div id="select_SaleStatusID" class="col-sm-10">
                        <div class="input-group">
                            @*"销售状态", title = "Online=在售,Offline=下架,InStudio=设计拍摄中,OutOfStock=售罄"*@
                            @Html.DropDownListFor(m => m.SaleStatusID, (IEnumerable<SelectListItem>)ViewBag.SaleStatusIDList, htmlAttributes: new { @class = "form-control" })
                        </div><!--input-group-btn-->
                    </div>
                </div>

                <div class="form-group" ng-controller="mycontroller">
                    <label for="StaffID" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.StaffID)</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.StaffID, new { @class = "form-control", list = "List_SenderStaffIDList", onclick = "javascript: this.value = '';" })
                        <datalist id="List_SenderStaffIDList">
                            <option ng-repeat="x in SenderStaffIDList" value="{{x.ShopStaffID}}">{{x.StaffName }}</option>
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="box-footer col-sm-offset-2">
                <ul class="list-inline list-unstyled">
                    <li>
                        <button type="button" id="btnaddnew" class="btn btn-info ">
                            @(string.IsNullOrEmpty(ViewBag.CurrentProductID) ? Lang.Views_GeneralUI_AddNew : Lang.Views_GeneralUI_Update)
                        </button>
                    </li>
                    <li>
                        @Html.ActionLink(Lang.Views_GeneralUI_Return, "Index", null, new { @class = "btn btn-info" })
                    </li>
                    <li>
                        <input type="button" id="btn_UploadItem" value="@Lang.Views_GeneralUI_RelateFile" class="btn btn-info" />
                    </li>
                    <li>
                        @if (Request.Params["ProductID"] != null)
                        {
                            <button type="button" id="btnDel" class="btn btn-danger">@Lang.Views_GeneralUI_Delete</button>
                        }

                    </li>
                    <li>
                        @if (Request.Params["ProductID"] != null)
                        {
                            <button type="button" id="btncreateSku" class="btn btn-info">@Lang.ProductSku_SubTitle</button>
                        }

                    </li>
                </ul>
            </div>
            <div class="box-title col-sm-offset-2" style="padding-left:15px">

                <ul class="list-unstyled">
                    <li>
                        <p class="box-title"><strong>（Role:StoreProductAdmin)</strong></p>
                    </li>
                </ul>

            </div>
        }
</div>
<script src="~/AdminLTE/plugins/bootstrap-wysiwyg/js/bootstrap-wysiwyg-ini-editor2.js"></script>
<!-- Modal for 关键词富文本HTML5模板-->
<div id="ModalSeoHtml1" class="modal fade" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title h4" title="@Lang.Views_GeneralUI_ModalSeoHtml_Title_text" data-toggle="tooltip" id="ModalSeoHtml_Title">@Lang.Views_GeneralUI_ModalSeoHtml_Title_text</span>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xm-5 col-lg-5" style="padding-left:5px;padding-right:5px;padding-top:0px;">
                        <div id="ModalSeoHtml_Tree_dropdown_menu" class="treeview h6"></div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xm-7 col-lg-7" style="padding-left:5px;padding-right:5px;">
                        <!--ModalSeoHtml文本编辑器开始-->
                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor2">
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font" aria-hidden="true"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu"></ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height" aria-hidden="true"></i>&nbsp;<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-edit="fontSize 7"><font size="7">7</font></a></li>
                                    <li><a data-edit="fontSize 6"><font size="6">6</font></a></li>
                                    <li><a data-edit="fontSize 5"><font size="5">5</font></a></li>
                                    <li><a data-edit="fontSize 4"><font size="4">4</font></a></li>
                                    <li><a data-edit="fontSize 3"><font size="3">3</font></a></li>
                                    <li><a data-edit="fontSize 2"><font size="2">2</font></a></li>
                                    <li><a data-edit="fontSize 1"><font size="1">1</font></a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm " data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline" aria-hidden="true"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <div class="dropdown-menu input-append">
                                    <input class="span2" placeholder="URL" type="text" data-edit="createLink" style="max-width:150px" />
                                    <button class="btn btn-default btn-sm " type="button">Add</button>
                                </div>
                                <a class="btn-default btn-sm btn" title="@Lang.Views_GeneralUI_UploadToServer" id="pictureBtn2">
                                    <i class="fa fa-file-image-o" aria-hidden="true">
                                    </i>
                                </a>
                                <input type="file" id="pictureInput" data-Prefix="Ca"
                                       SrvUrl="/@LangUtilities.LanguageCode/Utilities/UpLoadProcess2?Prefix=Inf&SubPath=Info&TargetTalbeKeyID=@ViewBag.TempInfoID&ShopID=@WebCookie.ShopID"
                                       data-role="magic-overlay" data-target="#pictureBtn2" multiple="multiple" accept="image/*" data-edit="insertImage" width="30" />
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-default btn-sm " data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-sm " data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
                            </div>

                        </div><!--ModalSeoHtml文本编辑器结束-->
                        <div id="editor2" style="overflow:auto;max-height:350px;height:350px;padding:5px;">
                            <span class="bg-black-gradient">@Lang.Views_GeneralUI_PasteTheObtainedHTML5</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="h6 col-md-7 col-sm-7 col-xm-7 col-lg-7 col-md-offset-5 col-sm-offset-5 col-lg-offset-5"><span>@Lang.ModalView_AddUpdateInfo_bg_black_gradient_text</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btn_append1" class="btn btn-primary">@Lang.ModalView_AddUpdateInfo_btn_append1_text</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        
        //loading ProdCate
        loadcatedata("#treeviewProdCate1", "#ProdCateID", "#txtProdCateName", "#ProdCate-dropdown-menu1");
        $('#treeviewCategory1').slimscroll({
            disableFadeOut: false
        });
        //loading category
        LoadCategoryData_ProductAddUpdate("#treeviewCategory1", "#txtCategoryIDsName", "#CategoryIDs"); //初始化类目视图
        $('#treeviewCategory1').slimscroll({
            disableFadeOut: false
        });

    });
</script>
<!--set Category Root-->
<script>
    function setCategoryRoot() {
        $("#CategoryIDs").val("0");
        $("#txtCategoryIDsName").val("@Lang.ProductMgr_ActionMethod_ProductAddUpdate_DefautRoot");
    }

</script>

<script>
    function HandleProductAddUpdSuccDialog(data)
    {
        if (data.MsgCode === "1")  //
        {
            BootstrapDialog.show({
                type: BootstrapDialog.TYPE_SUCCESS,
                resizable: true,
                size: 'size-normal',
                closeByBackdrop: false,
                closeByKeyboard: false,
                draggable: true,
                closable: false,
                title: $("#Title").val() ,
                message: "<H3>" + data.Message + "</H3>",
                cssClass: 'bootstrap-dialog fade',
                buttons: [{
                    label: 'OK!',
                    cssClass: 'btn-primary',
                    action: function (dialog) {
                        createSku(); //golist();
                        dialog.close();
                    }
                }]
            });
        } else {
            alert("Fail \n\n" + data.MsgCode + ":" + data.Message);
        }
    }
    function createSku()
    {
        window.location = "@Url.Content("/mgr/productmgr/createSku?productId="+ ViewBag.CurrentProductID)";
    }
    $("#btncreateSku").click(
        function () {
            window.location = "@Url.Content("/mgr/productmgr/createSku?productId="+ ViewBag.CurrentProductID)";
        }
    );
    function golist()
    {
        window.location = "@Url.Content("index")";
    }
    function errProductAddUpd(data) {
        alert("errProductAddUpd :\n\r\n\r"+ data.MsgCode + "-:-" + data.Message);
    }
</script>
<!--del-->
<script>

    $("#btnDel").click(function () {

        return BootstrapDialog.show({
            cssClass: 'bootstrap-dialog fade',
            title: "Delete : " + $("#Title").val(),
            message: $("#ProductName").val(),
            buttons: [{
                label: '@Lang.Views_GeneralUI_Delete',
                action: function (dialog)
                {
                    DelInfoDetail("@ViewBag.CurrentProductID");  //调用删除操作函数
                    dialog.close();
                }
            }, {
                label: '@Lang.Views_GeneralUI_Cancel',
                action: function (dialog) {
                    dialog.close();
                    return false;
                }
            }]
        });//BootstrapDialog

    }); // click

    function DelInfoDetail(Delete) {
        var url = "@Url.Content("Delete")";
        var ProductID = "@ViewBag.CurrentProductID";
        var myparamsObject = { "ProductID": ProductID };
        $.ajax({
            type: "post",
            data: JSON.stringify(myparamsObject),
            url: url,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.MsgCode !== "1")  // 输入数据格式非法
                {
                    alert("@Lang.Views_GeneralUI_Delete"+"Fail return,data.MsgCode=" + data.MsgCode);
                    return;
                }
                BootstrapDialog.show({
                    cssClass: 'bootstrap-dialog fade',
                    title: "@Lang.Views_GeneralUI_ReturnResult",
                    message: "<H3>" + data.Message + "</H3>",
                    buttons: [{
                        label: 'OK',
                        action: function (dialog) {
                            dialog.close();
                            golist();
                        }
                    }]
                });//BootstrapDialog
            },
            error: function (err) {
                console.log(JSON.stringify(err));
                alert("Error:" + JSON.stringify(err));
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        $('#ModalSeoHtml1').on('shown.bs.modal', function () {
            $('#editor2').focus();
        });
        $("#SeoHtmlContext1").click(function (e) {
            forRetriveNodeHtml5 = "#editor2";
            TreeViewID = "#ModalSeoHtml_Tree_dropdown_menu";
            $(TreeViewID).slimscroll({
                disableFadeOut: false,
                height: '410px'
            });
            LoadSeoExtandsForEditor(TreeViewID, forRetriveNodeHtml5);
        });
        //rich text
        $("#btn_append1").click(function (e) {
            $("#ModalSeoHtml1").modal('hide');
            $("#editor").html($("#editor").html() + $('#editor2').html());
            $("#editor").focus();
        });
        //--end ---------------------------

        $("#Title").click(function (e) {
            //参数
            DropdownMenuID = "#DivDownMenu1";
            Tree_DropdownMenuID = "#Tree_dropdown_menu1";
            forNodeTxt = "#Title";
            $(Tree_DropdownMenuID).slimscroll({
                disableFadeOut: false,
                height: '300px'
            });
            LoadSeoExtandsForAddUpdateInfo(DropdownMenuID, Tree_DropdownMenuID, forNodeTxt);
        });
        $('#treeviewMenu1').slimscroll({
            disableFadeOut: false
        });

        $("#btnaddnew").click(function () {
            $("img").addClass("img-responsive");
            var HtmlProdDesc = $("#editor").html();
            $("#ProdDesc").val(escape(HtmlProdDesc));
            return BootstrapDialog.show({
                cssClass: 'bootstrap-dialog fade',
                title: $("#ProductName").val(),
                message: $("#Title").val(),
                buttons: [{
                    label: '@Lang.Views_GeneralUI_Submit',
                    action: function (dialog) {
                        $("#btnaddnew").submit();
                        dialog.close();
                    }
                }, {
                    label: '@Lang.Views_GeneralUI_Cancel',
                    action: function (dialog) {
                        dialog.close();
                        return false;
                    }
                }]
            });//BootstrapDialog
        }); // click
    }); //ready
</script>

<!--Picture Upload-->
<script>
    $("#OpenDialog").click(function () {
        console.log("Open file Dialog ");
        $("#file_uploadPic").click();
    });
    $("#file_uploadPic").change(function uploadPic() {
        $("#Loading").removeClass("hidden");
        var fileInfo = document.getElementById("file_uploadPic").files[0];
        var SrvUrl = $("#file_uploadPic").attr('SrvUrl');
        console.log("title picture::" + SrvUrl);

        var form = new FormData();
        form.append("file", fileInfo);
        var xhr = new XMLHttpRequest();
        xhr.open("post", SrvUrl, false);// 必需等于 false(异步) 否则出错 ;html>input 属性 SrvUrl = "/Utilities/UpLoadProcess2?Prefix=SC&SubPath=Category&TargetTalbeKeyID=0&ShopID=Shp00001"
        xhr.send(form);
        if (xhr.responseText === "0") {
            alert("Error \n\r Server has no any file recieve \n" + xhr.responseText);
        }
        else {
            var json1 = JSON.parse(xhr.responseText);
            $("#Loading").addClass("hidden");
            $("#ProductImg").val(json1.filePathName);
            console.log("Set #ProductImg OK ");
            $("#uploadPicResult").attr("src", json1.filePathName);
        }
        console.log(xhr.responseText);
    });
</script>
<!--Video Upload-->
<script>

    //var applicationPath = window.applicationPath === "" ? "" : window.applicationPath || "../../";
    $(function () {
        var $ = jQuery,
        $list = $('#fileList'),
        // Web Uploader实例
        uploader;
        uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: '/webuploader/Script/Uploader.swf',

            // 文件接收服务端。
            server: '/Utilities/UpLoadProcessFile',    // '@Url.Action("UpLoadProcessFile", "Utilities")',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#picker',
            accept: {
                title: 'html',
                extensions: 'mp4',
                mimeTypes: 'video/mpeg,video/mp4'  // '视频格式'
            }
        });

        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            // 初始化以后添加 参数传入  Prefix, string SubPath, string TargetTalbeKeyID, string ShopID

            uploader.options.formData.Prefix = 'Info';
            uploader.options.formData.SubPath = 'Mp4';
            uploader.options.formData.TargetTalbeKeyID = '@ViewBag.TempInfoID';
            uploader.options.formData.shopID = '@WebCookie.ShopID';
            uploader.options.formData.name = file.name;
            uploader.options.formData.type = file.type;
            uploader.options.formData.AcceptType = 'image/jpeg,image/gif,image/png,image/bmp,video/mpeg,video/mp4,application/msword,application/vnd.ms-excel,application/mspowerpoint,text/plain,application/pdf,application/zip,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'; //可以接受的文件类型 AcceptType;
            console.log(JSON.stringify(uploader.options))

            $list.append('<div id="' + file.id + '" class="item">' +
                '<h4 class="info">' + file.name + '</h4>' +
                '<p class="state">@Lang.Views_GeneralUI_Uploading...</p>' +
            '</div>');
            $("#fileLoading").removeClass("hidden");
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');
            $percent.css('width', percentage * 100 + '%');
            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<p class="progress"><span></span></p>')
                        .appendTo($li)
                        .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {

            $("#VideoUrl").val(response.filePath.toString());// VideoUrl字段赋值 （reserve）
            InsHtml5Video(response.filePath.toString());//插入视频

            console.log(response.filePath);
            // $("#FooterTemplate").val(response.filePath);
            console.log("FooterTemplate=" + response.filePath);
            //alert("uploadSuccess" + response.filePath);
            $('#' + file.id).find('p.state').text('@Lang.Views_GeneralUI_UploadConpleted');

            $("#fileLoading").addClass("hidden");
        });

        uploader.on('uploadError', function (file) {
            $('#' + file.id).find('p.state').text('@Lang.Views_GeneralUI_UploadError' + response.message);
        });

        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').fadeOut();
        });

        //所有文件上传完毕
        uploader.on("uploadFinished", function (response) {
            //提交表单
            //$("#submit1").click();
            //alert("提交表单" + response.filePath);

        });

    });
</script>
<!--Insert Video Template-->
<script>
    function InsHtml5Video(VideoPath) {

        var VideaHtml5 = '<br/><video autoplay="false" controls="controls" width="90%"><source src="' + VideoPath + '" type="video/mp4"></video>';
        $("#editor").html($("#editor").html() + VideaHtml5);
        $("#editor").focus();
    }
</script>

<!--loading ProdCate-->
<script>
    //加载 treeview
    function loadcatedata(ID, ProdCateID_Id, ProdCateName_Id, ToggleId) {
        $.ajax({
            url: "/Mgr/ProdCateV2/GetNodeOfProdCate?ParentsProdCateID=0",     // "/ajaxUrl/Product/HandlerCate.ashx",
            success: function (data) {
                $(ID).treeview({
                    expandIcon: "glyphicon glyphicon glyphicon-plus", //collapes
                    collapseIcon: "glyphicon glyphicon glyphicon-minus", //Extanding Icons
                    showBorder: true,
                    levels: 3,
                    showTags: true,
                    data: $.parseJSON(data),
                    onNodeCollapsed: function (event, node) {
                        $(ToggleId).dropdown('toggle');
                    },
                    onNodeExpanded: function (event, node) {
                        $(ToggleId).dropdown('toggle');
                    },
                    onNodeSelected: function (event, node) {
                        $(txtProdCateName).val(node.text);
                        $(ProdCateID_Id).val(node.nodeid);
                        console.log(ProdCateID_Id);
                    }
                });
            }
        });//end ajax get json data
    }
</script>

<script>
    //delete UploadItem
    function del_uploadItem(UploadItemId) {
        var myparamsObject = { "UploadItemId": UploadItemId };

        $.ajax({
            type: "post",
            data: myparamsObject,
            url: "/mgr/info/DeleteUploadItem",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.MsgCode !== "1")  // Unexpected Token
                {
                    layerTips("@Lang.Views_GeneralUI_OperateFail" + data.MsgCode);
                    return;
                }
                BootstrapDialog.show({
                    cssClass: 'bootstrap-dialog fade',
                    title: "@Lang.Views_GeneralUI_ReturnResult",
                    message: "<H3>" + data.Message + "</H3>",
                    buttons: [{
                        label: 'OK',
                        action: function (dialog) {
                            dialog.close();
                            $("#li_" + UploadItemId).remove();
                        }
                    }]
                });//BootstrapDialog
            },
            error: function (err) {
                console.log(JSON.stringify(err));
                alert("Error:" + JSON.stringify(err));
            }
        });
    }
</script>

<script>
    $("#OpenDialogButton").click(function () {
        $("#file_ProductMainUpload").click();
    });
    $("#file_ProductMainUpload").change(function uploadPic2() {

        var files = document.getElementById("file_ProductMainUpload").files;
        console.log(files);
        var len = files.length;
        console.log("len = " + len);
        var SrvUrl = $("#file_ProductMainUpload").attr('SrvUrl');
        for (i = 0; i < len; i++ ) {
            console.log("files["+ i +"] :" + files[i]);
            var form = new FormData();
            form.append("file", files[i]);
            var xhr = new XMLHttpRequest();
            xhr.open("post", SrvUrl, false);// must =  false (asyc)
            xhr.send(form);
            if (xhr.responseText === "0") {
                alert("error:" + xhr.responseText);
            }
            else {
                console.log("return upload result :\n\r" + xhr.responseText);
                var json = JSON.parse(xhr.responseText);
                console.log("Json result :\n\r" + json );
                Itemhtml1 = "<li id='li_" + json.UploadItemId + "' style='width:80px'><div class='wenzibox'><a id='lnk_'" + json.UploadItemId + " href='" + json.filePathName + "' target='_blank'><img src='" + json.filePathName + "' class='img-responsive img-bordered' width='75' /> </a><div class='bmbox'><a id='a2" + json.UploadItemId + "' class='btn btn-link btn-sm' href='javascript:del_uploadItem(\"" + json.UploadItemId + "\")'>@Lang.Views_GeneralUI_Delete</a></div></div></li>";
                $("#mainProductImagesList1").append(Itemhtml1);
            }
        }
    });
</script>

<script>
    //get getShopStaffList
    var app = angular.module('App', []);
    app.controller('mycontroller', function ($scope, $http) {

        $http({
            method: 'GET',
            url: '/Mgr/ProductMgr/getShopStaffList'
        }).then(function successCallback(response) {
            console.log(response);
            $scope.SenderStaffIDList = response.data;

        }, function errorCallback(response) {
            console.log("/Mgr/ProductMgr/getShopStaffList : \n\r" + response);
        });
    });
</script>