@using Ishop.Context;
@using Ishop.Utilities;
@using LanguageResource;
@model Ishop.Models.ProductMgr.Shop

@{
    string Language = LangUtilities.LanguageCode;
    bool IsChinaArea1 = mvcCommeBase.IsChinaArea();
}
<!--_FooterTemplate-->
<ul class="center list-unstyled no-margin no-pad-top">
    <li class="copyright">
        @{string ICP = IsChinaArea1 == true ? "粤ICP备17824999号" : ""; }

        &copy; @DateTime.Now.Year -  @Html.DisplayFor(model => model.ShopName) @ICP
    </li>
    <li>
        &nbsp;@Lang.Home_DefinitedTag_KeyWord <span id="loadTime"></span>
    </li>

    <li>
        <script>
            window.onload = function () {
                var loadTime = window.performance.timing.domContentLoadedEventEnd - window.performance.timing.navigationStart;
                document.getElementById("loadTime").innerHTML = '加载耗时：' + loadTime + 'ms';
                console.log('加载耗时：' + loadTime);
            }
        </script>
        &nbsp;<div class="small">Ver5.6 &copy;params @LangUtilities.LanguageCode -Shp: @WebCookie.ShpID -Sh: @WebCookie.ShopID <span id="loadTime" class="small"></span></div>
    </li>
    @if (!IsChinaArea1)
    {
        <li>
            <!--FaceBook 分享配置-->
            <script>
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '270944283258433',
                        xfbml: true,
                        version: 'v2.8'
                    });
                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) { return; }
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            <!--FaceBook 分享配置-->
            <div class="fb-like"
                 data-share="true"
                 data-width="450"
                 data-show-faces="true">
            </div>
        </li>
    }
</ul>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6de35c7ba67bf67be24fdbe4b5cadfb6";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>