@using LanguageResource
@model Ishop.Areas.Mgr.Models.CerPasswordModalView
@{
    Layout = null;
    ViewBag.Title = LanguageResource.Lang.ModalView_CerPassword_Title;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/plugins/icheck/css/sqare/blue")
 
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="register-logo">
            <a href="@Url.Action("Index", "Home")">Welcome !</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg h3">@Lang.ModalView_CerPassword_Title</p>
            @using (Html.BeginForm("CerPassword", "AccountMgr", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ReturnCerPassUrl)
                <div class="form-group ">
                    @Html.TextBoxFor(m => m.CerPassword, new { @class = "form-control", type = "password", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.CerPassword, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group ">
                    <span class="label-danger"> @ViewBag.Message </span> 
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary">@Lang.Views_GeneralUI_Submit</button>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            }
        </div>
    </div>

    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    @Scripts.Render("~/AdminLTE/bootstrap/js") 
    @Scripts.Render("~/AdminLTE/plugins/jquery-validate/js")
     
</body>
</html>

