@using LanguageResource
@using Ishop.Utilities
@using Ishop.Context
@using Ishop.Models.ProductMgr
@model Ishop.ViewModes.Order.OrderDetails
@{
    ViewBag.Title = Lang.Views_GeneralUI_OrderDetails;

    //   DispatchNoteStatus FROM /ViewModes/Product/ProductModalView.cs
    // Unpaid = 0, Receipted = 1, OutOfStock = 2, PickingUp = 3, HasSent = 4

    string StatusId = Model.OrderHeader.StatusId;
    if(StatusId == DispatchNoteStatus.HasSent.ToString() || StatusId == DispatchNoteStatus.Receipted.ToString())
    {
        ViewBag.Disable = "disabled";
    }
    else
    {
        ViewBag.Disable = "";
    } 
}
<div class="container">
    <div class="row">
        <!--ADDRESS-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-6">
            @using (Ajax.BeginForm("UpdateDispatchNote", "OrderMgt", new AjaxOptions { HttpMethod = "post", OnSuccess = "HandleOrderIndexSuccDialog", OnFailure = "errOrderIndex", LoadingElementId = "Loading" }, new { @class = "form-horizontal" }))
            {
                <div class="box box-info">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.OrderHeader.ShopID)
                    @Html.HiddenFor(model => model.OrderHeader.OrderId)
                    @Html.HiddenFor(model => model.OrderHeader.Payment)
                    @Html.HiddenFor(model => model.DispatchNote.StatusName)
                    @Html.HiddenFor(model => model.DispatchNote.DispatchNoteStatus)
                    @Html.HiddenFor(model => model.DispatchNote.StyleNo)
                    @Html.HiddenFor(model => model.DispatchNote.Remarks)
                    @Html.HiddenFor(model => model.DispatchNote.PostCode)
                    @Html.HiddenFor(model => model.Quantity)
                    @Html.HiddenFor(model => model.DispatchNote.DispatchNoteId)
                    @Html.HiddenFor(model => model.DispatchNote.CreatedDate)
                    
                    <div id="box-header" class="box-header with-border">
                        <div class="pull-left">
                            <blockquote class="h3 padding-left15 padding-bottom5 padding-top5  inline">
                                <h5 class="box-title">
                                    <i class="fa fa-list-ul margin-right5" title="@Lang.ControllerName_Views_DefinitedUI_ConfirmOrderAnouncement" data_toggle="tooltip"></i>
                                    @Lang.DispatchNote_Recipient@Lang.DispatchNote_Address
                                </h5>
                                <button id="show_collagge" class="btn btn-box-tool" data-widget="collapse">Show</button>
                            </blockquote>
                        </div>
                        <div class="box-tools pull-right">
                            <button id="show_collagge_plus" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div><!-- /.box-tools -->
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">@Lang.DispatchNote_District</label>
                            <div class="col-md-10">
                                <div class="row margin-right15">
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.DispatchNote.District, new { @class = "form-control form-control-sm col-md-3", PlaceHolder = Lang.DispatchNote_District, autocomplete = "on" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.DispatchNote.State, new { @class = "form-control form-control-sm col-md-3", PlaceHolder = Lang.DispatchNote_State, autocomplete = "on" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.DispatchNote.Country, new { @class = "form-control form-control-sm col-md-3", PlaceHolder = Lang.DispatchNote_Country, autocomplete = "on" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">@Lang.DispatchNote_Recipient</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.DispatchNote.Recipient, new { @class = "form-control form-control-sm", autocomplete = "on", style = "max-width:410px;" })
                                @Html.ValidationMessageFor(model => model.DispatchNote.Recipient, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">@Lang.DispatchNote_PhoneNumber</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.DispatchNote.PhoneNumber, new { @class = "form-control form-control-sm", autocomplete = "on", style = "max-width:410px;" })
                                @Html.ValidationMessageFor(model => model.DispatchNote.PhoneNumber, "", new { @class = "text-danger", style = "width:60%;" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">@Lang.DispatchNote_TelePhoneNumber</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.DispatchNote.TelePhoneNumber, new { @class = "form-control form-control-sm", autocomplete = "on", style = "max-width:410px;" })
                                @Html.ValidationMessageFor(model => model.DispatchNote.TelePhoneNumber, "", new { @class = "text-danger", style = "width:60%;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@Lang.DispatchNote_Recipien_Address</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.DispatchNote.Address, new { @class = "form-control form-control-sm", style = "max-width:410px;" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-lg-offset-2 padding-left15">
                                <button type="submit" @ViewBag.Disable title="Disable if Dispatch Note Status.HasSent OR Dispatch Note Status.Receipted" data-toggle="tooltip" class="btn btn-danger">@Lang.Views_GeneralUI_Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--PAYMENT-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-6">
            @Html.Partial("Order/PaymentService") 
        </div>
    </div>

    <!--訂單詳情(最近一筆訂單)-->
    <div class="box box-info">
        <div id="box-header" class="box-header with-border">
            <blockquote class="padding-left15 padding-bottom5 padding-top5">
                <div class="pull-left">
                    <a id="orderListUrl" class="text-blue" href="@Url.Action("OrderDetails","OrderMgt",new {OrderId = Model.OrderHeader.OrderId})">
                        <h5 class="box-title">
                            <i class="fa fa-list-ul margin-right5"></i>
                            @Lang.Views_GeneralUI_OrderDetails
                        </h5>
                    </a>
                </div>
                <div class="pull-right margin-right10">
                    <a id="orderListUrl" class="text-blue" href="@Url.Action("Index","OrderMgt")">
                        <i class="fa fa-calendar-times-o margin-r-5"></i><i class="fa fa-list  margin-r-5"></i>@Lang.Views_GeneralUI_Return @Lang.My_Index_OrderList
                    </a>
                </div><!-- /.box-tools -->
            </blockquote>
            <!-- 付款后三个工作日内发货  改為 訂單列表 -->
        </div>
        <div class="box-body">
            <div class="container">
                <!--Order Header-->
                <div id="@string.Format("OrderHeader{0}", Model.OrderHeader.OrderId)" class="row padding-left15">
                    <ul class="unstyledlist-unstyled no-margin no-padding list-group-unbordered" style="padding:0;margin:0;">
                        <!--Order Header Details-->
                        <li class="unstyled list-unstyled no-margin no-padding" style="padding:0;margin:0;">
                            <ul class="unstyled list-inline">
                                <li>
                                    <ul class="unstyled list-inline">
                                        <li class="h4 text-danger " style="font-weight:400;padding-right:5px;">
                                            @Lang.Views_GeneralUI_OrderId &colon;
                                        </li>
                                        <li class="h3 text-danger" style="font-weight:400;padding-right:5px;">
                                            @Model.OrderHeader.OrderId
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="unstyled list-inline">
                                        <li class="h4 text-danger" style="font-weight:400;padding-right:5px;">
                                            @Lang.Order_Payment &colon;
                                        </li>
                                        <li class="h3 text-danger" style="font-weight:600;padding-right:5px;color:red;">
                                            @mvcCommeBase.GetShopPriceByShopCurrency(string.Format("{0:f1}", decimal.Parse(Model.OrderHeader.Payment.ToString())), (string)ViewBag.ShopCurrency)
                                        </li>
                                        <li class="h3 text-danger" style="font-weight:600;color:blue;">
                                            @Model.OrderHeader.StatusId
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="unstyled list-inline">
                                        <li class="h4 text-danger " style="padding-right:5px;">
                                            @Lang.DispatchNote_Recipien_Address &colon;
                                        </li>
                                        <li>
                                            <label id="addressDetails" class="h5 text-black">
                                                @Model.DispatchNote.Address
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!--Create Date-->
                        <li class="unstyled list-unstyled no-padding">
                            <ul class="list-unstyled list-inline h6">
                                <li class="h5 text-danger " style="padding-right:5px;">
                                    Date Time &colon;
                                </li>
                                <li class="h5 text-danger" style="padding-right:5px;">
                                    @string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.OrderHeader.CreatedDate)
                                </li>
                                @if (!string.IsNullOrEmpty(Model.OrderHeader.RecommUserId))
                                {
                                    <li class="h5 text-danger " style="padding-right:5px;">
                                        @Lang.Order_RecommUserId
                                    </li>
                                    <li class="h5 text-danger" style="padding-right:5px;">
                                        @Model.OrderHeader.RecommUserId
                                    </li>
                                } 
                            </ul>
                        </li>
                    </ul>
                </div>

                <div id="MyOrderAndDetails" class="row" style="margin-top:15px">
                    @{ 
                        if (Model.OrderItems.Count > 0)
                        {
                            <div class="container">
                                @foreach (var Item in Model.OrderItems)
                                { 
                                    <div id="@Item.OrderItemId" class="row" style="padding:5px 0px 5px 0px; border-bottom-color:crimson;border-bottom-width:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;">
                                        @Html.Partial("Order/OrderItemListUnit", Item)
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="container">
                                <span class="h3 padding-left15 h4" style="font-weight:600;">
                                    <i class="fa fa-exclamation-triangle text-danger"></i> There are no order records!!!
                                </span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <!--floatFooter 使用現在支付,暫時不用-->
    <footer class="floatFooter hide">
        <div class="BtmFunLayer container-fluid bg-black-active" style="width:70%;margin-bottom:10px;">
            <table style="padding:5px 5px 5px 5px;width:100%">
                <tr>
                    <td style="padding:5px 5px 5px 5px;width:50%" class="h4 text-red text-bold">
                        @string.Format("{0:C0}", Decimal.Parse(Model.OrderHeader.Payment.ToString()))
                    </td>
                    <td style="width:50%;padding:5px 5px 5px 5px;">
                        <button type="submit" id="BtnOKGotoPay" class="btn btn-info btn-flat text-bold">@Lang.Order_Index_DefinitedUI_OkAndGotoPay<!--Order_Index_DefinitedUI_OkAndGotoPay--></button>&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </footer>

</div>

<script>
    var order_address = "@Model.DispatchNote.Address";

    $(document).ready(function () {

        console.log("order_address = " + order_address);

        //Add collapse and remove events to boxes
        if (order_address === null) {

            setTimeout(function () {
                console.log("show_collagge ！");
                $("#show_collagge_plus").click();
            }, 3000);

        } else {
            if (order_address.length > 3) {
                $("button[type='submit']").text("Update");
            }

        }
    });

    // 監聽刷新事件
    //window.onbeforeunload = function () {
    //    return "您確定要離開此頁面嗎？";
    //};

    function HandleOrderIndexSuccDialog(data) {
        console.log(data);
        var index_order = layer.open({
            content: data.Message
        });
        if (data.MsgCode) {
            $("button[type='submit']").text("Update");
            var address_details = $("input[name='DispatchNote.Recipient']").val() + "&nbsp;" + $("input[name='DispatchNote.PhoneNumber']").val() + "&nbsp;" + $("input[name='DispatchNote.TelePhoneNumber']").val() + "&nbsp;" + $("input[name='DispatchNote.Address']").val();
            $("#addressDetails").html(address_details);
        }
    }
</script>

