@using LanguageResource
@using Ishop.AppCode.EnumCode
@using Ishop.Utilities
@using Ishop.Context
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li style="max-width:120px;overflow:hidden;">
                @Html.ActionLink(mvcCommeBase.Substr3Dot(User.Identity.GetUserName(), 9), "Index", "Manage", null, htmlAttributes: new { data_toggle = "tooltip", title = "User Email Login Account, User Id =" + User.Identity.GetUserId() })
            </li>
            @if ((int)ViewBag.IsInfoMode == (int)PublicEnumCode.IsInfoMode.SECURITY)
            {
                <li>
                    <a href="@Url.Action("OrderList","Order")" title="@Lang.My_Index_OrderList" data-toggle="tooltip">
                        <i class="fa fa-list" style="color: #ffffff;margin-right:3px;" aria-hidden="true"></i>
                        <span class="no-padding" style="color: #ffffff;">My Order</span>
                    </a>
                </li>
            }
            <li>
                <a href="@Url.Action("Index","My")"><i class="fa fa-user"></i></a>
            </li>
            <li>
                <a href="@Url.Action("SeoExt","i")"><i class="glyphicon glyphicon-indent-right"></i></a>
            </li>
            @if (!string.IsNullOrEmpty(WebCookie.ShopID))
            {
                <li>
                    <a href="@Url.Action("Index","Admin",new { Language = LangUtilities.LanguageCode })" title="BACK END">
                        <i class="fa fa-desktop text-success"></i>
                    </a>
                </li>
            }

            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Lang.GeneralUI_LogOut</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Lang.GeneralUI_Registration, "Register", "Account")</li>
        <li>@Html.ActionLink(Lang.GeneralUI_Login, "Login", "Account")</li>
        <li>@Html.ActionLink(Lang.GeneralUI_ForgotPassword, "ForgotPassword", "Account")</li>
    </ul>
}
