@using LanguageResource
@model Ishop.Models.MobileRegisterViewModal
@{
    ViewBag.Title = Lang.Account_MobileRegister_Title;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("MobileRegister", "Account", new { PhoneNumber = ViewBag.PhoneNumber}, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@Lang.Account_MobileRegister_DefinitedTag_MobileCreateNew</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
   
    <div class="form-group">
        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
        <div class="col-md-1">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control",@style="width:90px;", placeholder = Html.DisplayNameFor(m => m.Code) })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control",placeholder = Html.DisplayNameFor(m => m.Password) })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@Lang.Views_GeneralUI_Register" />
        </div>
    </div>
}
 



