@using LanguageResource
@using Ishop.Utilities
@using Ishop.Models.ProductMgr
@using System.IO
@model Shop
@{
    Layout = null;
    string shopviewtemplate1 = string.Format("shopviewtemplate1/{0}_{1}", Model.ShopID, LangUtilities.LanguageCode);
    string shopSharedviewtemplate1 = string.Format("/Views/Shared/{0}.cshtml", shopviewtemplate1);
    string shopviewtemplate1PathFile = Server.MapPath(shopSharedviewtemplate1);
}
<div class="box box-success">
    <div class="box-header with-border">
        <div class="box-title box_block_area_strong_title"> 
            <blockquote style="padding-top:5px;padding-bottom:10px;padding-left:5px;">
                <img src="@ViewBag.ShopLogo" alt="@ViewBag.ShopName" class="margin-right10" style="margin-right: 3px; max-width: 30px;" />
                @if (ViewBag.LanguageCode == "zh-HK" || ViewBag.LanguageCode == "en-HK")
                {
                    @ChineseStringUtility.ToTraditional(Model.ShopName)
                }
                else
                {
                    @ChineseStringUtility.ToSimplified(Model.ShopName)
                }

            </blockquote>
        </div>

    </div>
    <div class="box-body"> 
             
        @if (File.Exists(shopviewtemplate1PathFile))
        {
            @Html.Partial(shopviewtemplate1)
        }else{
            @shopviewtemplate1
        } 
        
    </div> 
</div>