@using LanguageResource
@using Ishop.Utilities
@model Ishop.Models.ProductMgr.OrderItem


<ul class="list-unstyled list-inline" style="filter:alpha(opaity=100);margin-left:5px;">
    <li class="h4 list-unstyled " style="float:left;text-wrap:normal;word-break:break-all;word-wrap:break-word">
        <ul class="h4 list-unstyled list-inline">
            <li class="list-inline" style="float:left;text-wrap:normal;word-break:break-all;word-wrap:break-word"> 

                <ul class="unstyled list-unstyled">
                    <li>
                        @Html.ActionLink(ChineseStringUtility.ToAutoTraditional(Html.DisplayFor(model => model.ProductName).ToString()), "p", "home", new { Id = Model.ProductSkuId.ToString().Substring(0, 6) }, htmlAttributes: new { @class = "text-primary", title = ChineseStringUtility.ToAutoTraditional(Model.ProductName.ToString()) })
                    </li>
                    <li class="h5">
                        <span class="h5"> Sku ID :  @Model.ProductSkuId</span><span class="h5"> @Model.PropertyDesc</span>
                    </li>
                </ul>
            </li>
            <li class="list-inline padding-left15">
                <ul class="list-unstyled list-inline" style="float:left;display:block;word-break:break-all;word-wrap:break-word">
                    <li>
                        <div class="margin-right10 padding-left15">
                            @Lang.Views_GeneralUI_Quantity<span class="padding-left15 small">X</span><strong>@Model.Quantity</strong>
                        </div>
                    </li>
                    <li class="h4" style="color:red;">
                        <div class="margin-right10">
                            <strong>@mvcCommeBase.GetShopPriceByShopCurrency(string.Format("{0:f1}", Model.TradePrice), (string)ViewBag.ShopCurrency)</strong>
                        </div>
                    </li>

                    <li class="list-inline pull-right">
                        <img src="@PictureSuffix.ReturnSizePicUrl(Html.DisplayFor(model => model.SkuImageUrl).ToString(), PictureSize.s100X100)" alt="..." class="img-responsive img-thumbnail img-rounded pull-right" style="margin:0 0 5px 5px;max-width:90px;" />
                    </li>
                </ul> 
            </li>
        </ul>
    </li>
    <li class="list-inline top pull-right">
        <img src="@PictureSuffix.ReturnSizePicUrl(Html.DisplayFor(model => model.SkuImageUrl).ToString(), PictureSize.s100X100)" class="img-responsive img-thumbnail img-rounded pull-right" style="margin:0 0 5px 5px" />
    </li>
</ul>

