@using LanguageResource
@model Ishop.Models.SetPasswordViewModel
@{
    ViewBag.Title = Lang.Manage_SetPassword_Title;
} 

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="box box-solid box-default">

        <div class="box-header with-border">
            <h2 class="box-title">@ViewBag.Title</h2>
           
            <div class="box-tools pull-right">
                <span class="label label-default"><i class="fa  fa-arrow-up" aria-hidden="true"></i>New Password</span>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <h3>@Lang.Manage_SetPassword_BoxTitle</h3>
                    <p class="text-info">
                         @Lang.Manage_SetPassword_DefinitedTag_PDesc
                    </p>
                </div>
            </div>
          
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Lang.Views_GeneralUI_SetPassword" class="btn btn-default" />
                </div>
            </div> 
        </div><!-- /.box-body -->
    </div><!-- /.box -->
}
 